@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'DM Sans', sans-serif;
}

body {
  background-color: black;
}

.app {
  background-color: black;
  place-items: center;
}

.app__body {
  /* make background black later */
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.app__container {
  display: flex;
  background-color: black;
  padding-top: 36px;
  width: 1024px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 50;
}