.header__wrapper {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header__logo {
  margin-left: 48px;
}

.header__logo svg {
  width: 48px;
  height: 48px;
  cursor: pointer;
  fill: white;
}

.header__logo svg:hover {
  fill: #5ac53b;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: black;
  height: 39px;
  padding: 10px;
  width: 408px;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  border: 1px solid #31363a;
  padding: 15px;
  border-radius: 5px;
}

.header__searchContainer input {
  border: none;
  width: 408px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: black;
  color: white;
  width: 100%;
}

.header__searchContainer input:focus {
  outline: none;
}

.header__menuItems {
  margin-right: 48px;
}

.header__menuItems a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 13px;
}

.header__menuItems a:hover,
.header__menuItems a:active {
  color: #5ac53b;
}

a:first-of-type {
  color: #5ac53b;
}

@media (max-width: 1100px) {
  .header__logo {
    margin: 0;
  }
  .header__menuItems {
    margin: 0;
  }
}
