.newsfeed {
  flex: 0.7;
}

.newsfeed__portfolio h1 {
  margin: 0;
}

.newsfeed__buying__section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3b4754;
  padding: 20px 0px 20px 0px;
  margin-bottom: 60px;
}

.newsfeed__market__section {
}

.newsfeed__market__box {
  text-align: left;
  height: 20vh;
  padding: 20px;
  border: 1px solid #31363a;
  border-radius: 4px;
}

.newsfeed__market__box p {
  color: #7b85ba;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}

.newsfeed__chart {
  width: 100%;
}

.newsfeed__popuarlists__section {
  margin-top: 60px;
}

.newsfeed__popularlists__intro {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.newsfeed_popularlists_badges {
  display: flex;
  flex-wrap: wrap;
}

.newsfeed_popularlists_badges .topic__badge {
  border: 1px solid #31363A;
  background-color: transparent;
  color: white;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}